<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/output.css">
    <title>NCB Mortgage</title>
    <style> .ncbimage{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }</style>
   
   <style>
    .container {
      display:flex;
      justify-content:center;
    }
  </style>
  
</head>
<body>
    <nav>
        <div class="navbar bg-base-100">
            <div class="navbar-start">
              <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                  <svg xmlns="../assets/images/logo.svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                  <li><a>Personal</a></li>
                  <li tabindex="0">
                    <a class="justify-between">
                      Business
                      <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
                    </a>
                    <ul class="p-2">
                      <li><a>Submenu 1</a></li>
                      <li><a>Submenu 2</a></li>
                    </ul>
                  </li>
                  <li><a>About</a></li>
                </ul>
              </div>
                <a href="https://flowbite.com/" class="flex items-center">
                    <img src="./src/assets/images/logo (3).svg" class="h-120 w-120" viewBox="0 0 120 120"  alt="NCB Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">NATIONAL COMMERCIAL BANK </span>
                </a>
            </div>
            <div class="navbar-center hidden lg:flex">
              <ul class="menu menu-horizontal p-0">
                <li><a>Personal</a></li>
                <li tabindex="0">
                  <a>
                    Business
                    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                  </a>
                  <ul class="p-2">
                    <li><a>Submenu 1</a></li>
                    <li><a>Submenu 2</a></li>
                  </ul>
                </li>
                <li><a>About</a></li>
              </ul>
            </div>
            <div class="navbar-end">
              <a class="btn btn-light">Get started</a>
            </div>
          </div>
    </nav>
    <br>
    <br> <br>
    <br>
    <img src="../assets/images/ncb.jpg" alt="NCB" height="400" width="700" class="ncbimage" >
    <br>
    <br>
    <br>
    <br>
    <div>
    <br>
    <br>
    <br>
    <div>
    <h1 style= "color: white"> A QUICK RUN DOWN</h1>
    <br>
    <br>
<form>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
          <label for="Year of birth" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
          <input type="text" id="Year of birth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Year of birth" required>
      </div>
      <br>
      <div>
          <label for="Average Monthly Income" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
          <input type="text" id="Average Monthly Income" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Average Monthly Income" required>
      
      </div>
      <br>
      <div>
          <label for="Average Monthly expenses" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
          <input type="text" id="Average Monthly expenses" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Average Monthly expenses" required>
        </div>
        <br>
        <button type="Continue" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Continue</button>
      </div>  
</form>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br> 
        <ul class="menu menu-horizontal bg-base-100 rounded-box">
          <li><a><div class="card card-compact w-96 bg-base-100 shadow-xl">
            <figure><img src="../assets/images/ncbman.svg" alt="" /></figure>
            <div class="card-body">
              <h2 class="card-title"></h2>
              <p>Follow our simple step-by-step guide to learn how to own a home.</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">LEARN MORE</button>
              </div>
            </div>
          </div</a></li>
          <li><a><div class="card card-compact w-96 bg-base-100 shadow-xl">
            <figure><img src="../assets/images/ncbcalculator.svg" alt="" /></figure>
            <div class="card-body">
              <h2 class="card-title"></h2>
              <p>Find out how much you can afford and calculate your monthly payments</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">CALCULATE FEES</button>
              </div>
            </div>
          </div></a></li>
          <li><a><div class="card card-compact w-96 bg-base-100 shadow-xl">
            <figure><img src="../assets/images/ncbloan.svg" alt="" /></figure>
            <div class="card-body">
              <h2 class="card-title"></h2>
              <p>Find out which loan option is best for you</p>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">LEARN MORE</button>
              </div>
            </div>
          </div></a></li>
        </ul>
        <li><a><div class="card card-compact w-96 bg-base-100 shadow-xl">
          <figure><img src="../assets/images/ncb partner.svg" alt="" /></figure>
          <div class="card-body">
            <h2 class="card-title"></h2>
            <p>Connect with approved Land Surveyors and Valuators to get your report</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">VIEW PARTNERS</button>
            </div>
          </div>
        </div></a></li>
      </ul>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <p style="background-color: yellow;text-align: center;color: white;">Continue Application</p>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <h5>Subscribe For Latest Newspaper</h5>
                  <div class="form-control">
                    <label class="label">
                      <span class="label-text"></span>
                    </label>
                    <label class="input-group">
                      <button class="btn">Subscribe</button>
                      <input type="text" placeholder="Your Email" class="input input-bordered" />
                    </label>
                    </div>
                  </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <ul class="menu menu-horizontal bg-base-100 rounded-box">
                  <li><a>Support</a><div class="container text-center">
                    <div class="row">
                      <div class="col">
                        Diam orci <br>
                        Mi feugiat <br>
                        Netus fermentum <br>
                        Suspendisse <br>
                        Id dollor <br>
                        Erat mattis
                      <br>
                      </div></li>
                      <ul class="menu menu-horizontal bg-base-100 rounded-box">
                        <li><a>Security</a><div class="container text-center">
                          <div class="row">
                            <div class="col">
                              Nibh <br>
                              Egestas <br>
                              Dictum
                            </div></li>
                            <ul class="menu menu-horizontal bg-base-100 rounded-box">
                              <li><a>About us</a><div class="container text-center">
                                <div class="row">
                                  <div class="col">
                                    Id maecenas <br>
                                    Id orci <br>
                                    Magna ultricies <br>Quis risus
                                  </div></li>
                                  <ul class="menu menu-horizontal bg-base-100 rounded-box">
                                    <li><a>Subscribe</a><div class="container text-center">
                                      <div class="row">
                                        <div class="col">
                                          <div class="form-control">
                                            <div class="input-group">
                                              <input type="text" placeholder="Email address" class="input input-bordered" />
                                              <button class="btn btn-square">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
                                              </button>
                                            </div>
                                          </div>
                                        </div></li>
                                        <br>
                                        <P></P>
                                        
                          
</body>
<!--
author: Denvoll Williamson
student ID:20208559
-->
</html>